.context a {
  box-sizing: border-box;         
  width: 250px;                   
  height: 50px;                   

  background-color: transparent;  
  color: var(--green-500, #22c55e); 
  border: 1px solid var(--green-500, #22c55e); 
  border-radius: 8px;             

  padding: 0 1.5rem;              
  font-weight: bold;              
  text-decoration: none;          

  display: flex;                 
  align-items: center;            
  justify-content: center;        
  gap: 0.5rem;                   

  margin: 0.5rem 0;              
  transition: color 0.1s, background-color 0.1s; 
}